html {
    font-size: min(2vw, 10px);
    color: #777;
    font-family: 'Roboto Mono', sans-serif;
}

body {
    background-color: #e1e4eb;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 50rem;
    height: 100%;
    margin: auto;
}

.adjust-box {
    position: relative;
    width: 80%;
    height: auto;
    margin:auto;
}

.adjust-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.time_wrapper {
    display: flex;
    margin: 0 0 5rem 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.time {
    width: 50%;
    text-align: center;
    font-size: 7rem;
    white-space: nowrap;
}

.time.passed {}

.time.rest {
    color: #e5531c;
}

.circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background-color: #aaa;
    background-image: linear-gradient(327deg, #aaa 0%, #777 74%);
    overflow: hidden;
    box-shadow: 0 0 1rem 1rem #e1e4eb, 3.2rem 3.2rem 3.2rem 1.2rem rgba(0, 0, 0, 0.15), -3.2rem -3.2rem 3.2rem 1.2rem rgba(255, 255, 255, 1);
}

.circle_color {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e5dd00;
    background-image: linear-gradient(327deg, #e1dd00 0%, #e12525 74%);
    opacity: 0;
    transition: 0.2s;
}

.circle_shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 0.8rem 0.8rem 1.2rem rgba(129, 26, 0, 0.15);
}

.pie {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e1e4eb;
    background-image: linear-gradient(to right, transparent 50%, black 0);
    mix-blend-mode: lighten;
}

.mask {
    display: block;
    margin-left: 50%;
    height: 100%;
    background-color: black;
    transform-origin: left;
    transform: rotate(0.5turn);
}

.button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: #e1e4eb;
    border: 0.2rem solid rgba(255, 255, 255, 0.3);
    box-shadow: 0.8rem 0.8rem 1.2rem 0 rgba(129, 26, 0, 0.15); 
    width: 60%;
    height: 60%;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:active {
    box-shadow: 0.8rem 0.8rem 1.2rem 0 rgba(129, 26, 0, 0.15), inset 1.6rem 1.6rem 2.4rem 0 rgba(0, 0, 0, 0.15), inset -1.6rem -1.6rem 2.4rem 0 rgba(255, 255, 255, 0.7);
}

.icon {
}

.icon::before {
    content: '';
    position: absolute;
    transition: 0.5s;
    display: block;
}

.paused>.icon::before {
    left: 2rem;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: solid 6rem #e5531c;
    border-right: solid 0 transparent;
    border-top: solid 4rem transparent;
    border-bottom: solid 4rem transparent;
}

.playing>.icon::before {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 7rem;
    height: 2rem;
    border-top: solid 2rem currentColor;
    border-bottom: solid 2rem currentColor;
    border-left: solid 0 transparent;
    border-right: solid 0 transparent;
    transform: rotate(270deg);
}

.input_wrapper {
    display: flex;
    margin: 6rem auto 0 auto;
    font-size: 7rem;
    width:80%;
    border-radius: 100vh;
    box-shadow: 0.8rem 0.8rem 1.2rem 0 rgba(0, 0, 0, 0.15), -0.8rem -0.8rem 1.2rem 0 rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.input_wrapper>input {
    font-family: inherit;
    font-size: inherit;
    width: 50%;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: 0;
    border-radius: 100rem;
    color: currentColor;
}

.colon {
    display: inline-block;
    width: .7em;
    height: 1em;
    position: relative;
}

.colon::before {
    display: inline-block;
    position: absolute;
    content: ":";
    text-align: center;
    top: -0.1em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
